.logo {
    height: 7em;
}

header {
    display:flex;
    align-items: center;
    padding: 1.5em
}

header nav {
    flex: .25;
    
}

header nav ul {
    display: flex;
    justify-content: flex-end;
  
}
header nav ul {
    list-style-type: none;
    justify-content: flex-end;
     
}

header nav li {
    padding: 2em
}

body {
    background-color: bisque;

}

h1, h2, p {
    padding-left: 3em;
}


@media screen and (max-width: 30rem) {
    header {
        flex-direction: column;
    }
}

.font1 {
    font-family: cursive;
}

#font1 {
    font-family: fantasy
}